<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}" th:with="header='Edycja komentarza'">

<main layout:fragment="main">
    <div class="row">

        <div class="col-md-10">
            <!--/*@thymesVar id="comment" type="com.sheryv.example.springblog.dto.CommentDto"*/-->
            <form th:action="@{postcommentedit}" th:object="${comment}" method="POST" enctype="utf8">

                <input type="hidden" th:value="${comment.id}" th:field="*{id}">
                <div class="form-group">
                    <label for="content">Treść komentarza</label>
                    <textarea type="text" th:field="*{content}" class="form-control" id="content"></textarea>
                    <small th:each="error: ${#fields.errors('content')}" th:text="${error}" class="form-text text-danger"></small>
                </div>

                <button type="submit" class="btn btn-primary pull-right">Zapisz</button>
            </form>


        </div>


    </div>
</main>

</html>