<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}" th:with="header='Postęp'">

<main layout:fragment="main">
    <div class="row">
        <div class="col-md-6">
            <h4>Wykonane:</h4>
            <ul>
                <li> Modelowanie terenu. </li>
                <li> Materiał terenu. </li>
                <li> Poprawa najważnieszych modeli budynków. </li>
                <li> Naniesienie budynków na teren. </li>
                <li> Modele zwierząt. </li>
                <li> Wykonanie podstawowych tekstur. </li>
            </ul><br/>
            <h4>Do zrobienia:</h4>
            <ul>
                <li> Obiekt wody. </li>
                <li> Model i animacja ludzi. </li>
                <li> Modele budynków znajdujących się poza rynkiem. </li>
                <li> Dodanie detali do terenu i obektów na nim. </li>
            </ul>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" th:src="@{res/img/mapa1.jpg}" alt="mapa"/>
        </div>
    </div>
</main>

</html>